body {
    font-size: 11px;
}
h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
span {
    display: block;
}
table tr td, table tr th {
    border: 1px solid #000;
    padding: 4px 5px;
}

.yui-t2 #yui-main > .yui-b { margin-left: 0; }
#tophdnav { display: none; }
#sb { display: none; }
#ft { display: none; }
#subtophdw { display: none; }
.module-head {
    background: #fff;
    border: none;
    clear: left;
    height: auto;
    margin: 0 0 10px 0;
    padding: 0;
}
.module-head-c {
    border: none;
    height:auto;
    min-height:20px;
    padding:5px 0;
}


.tablegrid {
    border-collapse: collapse;
    background: #fff;
	border:1px solid #000;
	clear: both;
	color: #000;
	margin-bottom: 10px;
}
.tablegrid th {
    background: #fff;
	text-align: left;
	padding: 6px 7px 8px;
	vertical-align: middle;
    border: 1px solid #000;
    font-weight: bold;
}
.tablegrid th input {
    margin: 5px 0 0 2px;
}
.tablegrid td input.cb {
    margin: 5px 0 0 3px;
}
.tablegrid th a {
    color: #000;
    background: #fff;
    padding: 0 0 1px 20px;
	text-decoration: normal;
}
.tablegrid tr td {
	padding: 4px;
	text-align: left;
	vertical-align: middle;
    border: 1px solid #000;
    background: #fff;
}
.tablegrid tr.checked td {
    background: #fff;
}
.tablegrid tr td.noRecord {
    text-align: center;
}

.cake-sql-log { display: none; }
